.calendar {
  min-width: 300px;
  width: 70%;
  height: 675px;
  margin: 0 auto;
  margin-top: 60px;
}

.calendar .topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid var(--main-border-color);
  height: 50px;
  background-color: aliceblue;
  border: 0.5px solid rgb(128, 160, 185);
}

.calendar .topContainer p {
  font-weight: 700;
  font-size: 20px;
}
.calendarButton {
  width: 40px;
  height: 40px;
  color: rgb(19, 18, 18);
  font-size: 24px;
  font-weight: lighter;
  border-radius: 50%;
  margin: 0 20px;
}

.calendarButton:hover {
  background-color: rgb(203, 226, 248);
}

.cellContainer {
  width: 100%;
  height: 84%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 114px;
  border-spacing: 0;
  border-left: 0.5px solid var(--main-border-color);
}

.cellContainer .cell span:hover {
  cursor: pointer;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 55px;
  width: 100%;
  border-left: 0.5px solid var(--main-border-color);
  border-right: 0.5px solid var(--main-border-color);
  border-bottom: 0.5px solid var(--main-border-color);
}

.daysContainer p {
  text-align: center;
  font-weight: 500;
  color: #5a5a5a;
}

.cell {
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--main-border-color);
  box-sizing: border-box;
  padding-top: 5px;
  position: relative;
  color: #252525;
  font-weight: lighter;
  text-align: center;
}

.cell p {
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.cell .today {
  min-width: 25px;
  background-color: #54a5f0;
  color: white;
}

.cellTask {
  position: absolute;
  margin: 0 auto;
  width: 95%;
  height: 23px;
  display: block;
  background-color: rgb(128, 151, 255);
  padding: 3px 2px 0px 2px;
  left: 2%;
  font-size: 15px;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}

.priority4 {
  background-color: rgb(226, 38, 38);
  color: white;
}

.priority3 {
  background-color: rgb(236, 129, 6);
  color: white;
}

.extra {
  background-color: rgb(134, 131, 131);
}

.cellTask:nth-child(2) {
  top: 30px;
  left: 2%;
}

.cellTask:nth-child(3) {
  top: 56px;
  left: 2%;
}

.cellTask:nth-child(4) {
  top: 82px;
  left: 2%;
}

.cellContainer .cell:not(:first-child) {
  border-left: none;
}

.cellContainer .cell:not(:nth-child(35n + 1)) {
  border-top: none;
}

.cellContainer .cell:first-child {
  border-left: none;
  border-top: none;
}

@media (max-width: 700px) {
}
