.createTaskForm {
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBackground {
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.modal {
  border-radius: 10px;
  margin-top: 100px;
  width: 700px;
  margin-left: 240px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.modalTitle {
  width: 100%;
  height: 65px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTitle h2 {
  color: white;
  margin: 0;
  font-size: 25px;
}

.formContainer {
  width: 100%;
  height: 100%;
}

.formButtonContainer {
  padding: 0 15px;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 22px;
}

.main-button,
.submit {
  padding: 8px 22px;
  border-radius: 5px;
  background-color: #51a8f9;
  color: white;
}

.taskForm label {
  color: rgb(80, 80, 80);
}

.date {
  cursor: pointer;
}

.taskForm select {
  cursor: pointer;
}

.text-wrapper,
.textarea-wrapper {
  width: 100%;
  height: 30px;
  background-color: #f7f5f5;
  display: flex;
  align-items: center;
  border: 1px solid #f7f5f5;
  padding: 0 4px;
}

.textarea-wrapper p {
  margin: 1px 0 0 1px;
}
.textarea-wrapper {
  height: 150px;
  align-items: flex-start;
  padding: 1px 0 0 1px;
}

.text-wrapper.title {
  padding-left: 3px;
}

.text-wrapper.status {
  padding-top: 2px;
}

@media (max-width: 1500px) {
  .modal {
    margin-left: 0px;
    min-width: 600px;
  }
}

@media (max-width: 800px) {
  .modal {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
    max-height: calc(100vh);
    border-radius: 0;
    padding-right: 15px;
  }
}

@media (max-width: 500px) {
  .formContainer .taskForm {
    padding: 40px 0;
  }
}
