.mobileNavigationBar {
  z-index: 1100;
  width: 265px;
  transition: width 0.2s ease-in-out;
  overflow: hidden;
}

.mobileNavigationBar.hide {
  width: 0;
}

.mobileNavigationBar .navBar {
  opacity: 100;
  transition: opacity 0.2s ease-in-out;
}

.mobileNavigationBar.hide .navBar {
  opacity: 0;
}

.mobileNavigationContainer {
  z-index: 1002;
  display: none;
}

.mobileNavigationContainer .mobileNavigationBar {
  position: absolute;
  left: 0;
  top: 0;
}

.burgerButton {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

@media (max-width: 1500px) {
  .mobileNavigationContainer {
    display: block;
  }

  .mobileNavigationBar {
    z-index: 1000;
  }
}
