.topOptionBarContainer {
  position: relative;
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  align-items: flex-end;
  padding: 0 14.9%;
  z-index: 1002;
}

.topOptionBarContainer .button {
  width: 120px;
  height: 40px;
  background-color: #51a8f9;
  border: none;
  color: white;
}

.button {
  border-radius: 8px;
}

.topOptionBarContainer h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: rgb(71, 71, 71);
  align-items: flex-end;
  margin: 0;
}

.topBarHr {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(182, 182, 182);
  height: 0.5px;
  margin-bottom: 0px;
}

.searchIconContainer {
  display: none;
}
.searchIconContainer .fa-lg {
  font-size: 23px;
}

@media (max-width: 1500px) {
  .desktopNavigation {
    display: none;
  }
  .topOptionBarContainer .button {
    display: none;
  }
}

@media (max-width: 910px) {
  .topOptionBarContainer {
    padding: 0 5.5%;
  }
}

@media (max-width: 800px) {
  .topOptionBarContainer button.task {
    display: none;
  }
}

@media (max-width: 780px) {
  .searchIconContainer {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
  }

  .desktopSearch {
    display: none;
  }
}

@media (max-width: 550px) {
  .topOptionBarContainer h2 {
    font-size: 28px;
  }

  .topOptionBarContainer {
    height: 59px;
  }
}
