.topOptionBarContainer {
  width: 70%;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  margin: auto;

  align-items: flex-end;
}

.topOptionBarContainer button {
  width: 120px;
  height: 40px;
  background-color: #51a8f9;
  border: none;

  color: white;
}

.button {
  border-radius: 8px;
}

.topOptionBarContainer h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: rgb(71, 71, 71);
  align-items: flex-end;
  margin: 0;
}

.topOptionBar hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(182, 182, 182);
  height: 0.5px;
  margin-bottom: 0px;
}

.topOptionBar img {
  padding: 0px 0px 0px 80px;
}

@media (max-width: 910px) {
  .topOptionBarContainer {
    width: 86%;
  }
}

@media (max-width: 800px) {
  .topOptionBarContainer {
    display: flex;
    justify-content: center;
  }
  .topOptionBarContainer button,
  .topOptionBarContainer .search-container {
    display: none;
  }
}
