.archiveList {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.description.archiveItem:hover {
  background-color: aliceblue;
}

@media (max-width: 910px) {
  .archiveList {
    width: 95%;
  }
}
